/* Fonts */

@font-face {
  font-family: Nunito;
  src: url(../media/fonts/NunitoLightRegular.woff2);
}

@font-face {
  font-family: NunitoItalic;
  src: url(../media/fonts/NunitoLightItalic.woff2);
}

/* Makes CSS variables for commonly used colors */
:root {
  --RojoApagado: #9f3647;
  --CasiNegro: #181419;
  --NegroGrisaceo: #2a2a2a;
  --Gris: #333333;
  --GrisClaro: #787878;
}

/* Removes link decorations */
a:link,
a:visited {
  text-decoration: none;
}

body {
  background-image: url(../media/img/bg-register.jpg);
  background-size: cover;
  background-position: center;
  font-family: Nunito;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1{
  font-weight: 700;
}

header,
main {
  background-color: rgba(32, 32, 32, 0.459);
  width: 100vw;
}

header {
  height: 8vh;
 
}

.form-check-label{
  font-size: 0.8rem;
}

.helpLink {
  color: var(--GrisClaro);
}
.formbutton, .formbutton:hover {
  background-color: var(--RojoApagado);
  height: 3.5rem;
  border: none;
  border-radius: 5px;
  width: 95%;
}
main {
  height: calc(100vh - 8vh);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  
  background-color: var(--NegroGrisaceo);
  width: 30vw;
  height: 90vh;
  border-radius: 5px;
  
}

form{
  gap: 1.25rem;
  color: #fafafa;
  padding: 3.75rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30vw;
}
.Logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  padding: 1.6rem;
  font-weight: 700;
  gap: 0.3rem;
}

.IconoPelicula {
  width: 1.2rem;
  height: 1.2rem;
}

.input, .input:focus {
  background-color: #333333;
  border: 2px solid var(--RojoApagado);
  border-radius: 30px;
  width: 100%;
  height: 40px;
  color: #fafafa;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  font-size: 1.25rem;
  box-shadow: 0px 0px 0px black;
}

.input::placeholder{
  color: var(--GrisClaro);
}