/* Fonts */

@font-face {
  font-family: Nunito;
  src: url(../media/fonts/NunitoLightRegular.woff2);
}

@font-face {
  font-family: NunitoItalic;
  src: url(../media/fonts/NunitoLightItalic.woff2);
}

/* Makes CSS variables for commonly used colors */
:root {
  --RojoApagado: #9f3647;
  --CasiNegro: #181419;
  --NegroGrisaceo: #2a2a2a;
  --Gris: #333333;
  --GrisClaro: #787878;
}

/*scrollbar*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--CasiNegro);
}

::-webkit-scrollbar-thumb {
  background: var(--RojoApagado);
}

/* Removes link decorations */
a:link,
a:visited {
  text-decoration: none;
}

body {
  background-color: var(--CasiNegro);
  font-family: Nunito;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--RojoApagado);
  color: white;
  height: 10vh;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
footer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: var(--RojoApagado);
  height: 15vh;
  gap: 0px;
}
hr {
  width: 80vw;
  border-style: none;
  border-top: 2px solid var(--RojoApagado);
  opacity: 1;
  margin-bottom: 15px;
  margin-top: 40px;
}

h1,
h2,
h3 {
  font-weight: 700;
}
/* Tags */
.hero {
  display: flex;
  justify-content: center;
  color: white;
  background-image: url(../media/img/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: calc(100vw - 10px);
}

.headerButtonContainer {
  padding: 0px 24px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  gap: 2.75rem;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.infoSection {
  display: flex;
  color: white;
  background-image: url(../media/img/mario-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: calc(100vw - 10px);
}

.fondotransparente2 {
  display: grid;
  grid-template-columns: 1fr 2.25fr;
  grid-template-rows: 1fr;
  color: white;
  background-color: #6b6b6ba1;
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: calc(100vw - 10px);
}

.fondoTransparente {
  background-color: #0000008f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: calc(100vw - 10px);
  height: 90vh;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-left: 1rem;
  color: white;
}

.movieCredits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.movieInfoText{
  width: 57vw;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 999;
}
.herocontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  font-weight: 700;
  gap: 0.3rem;
}

.Logo:hover {
  animation: tilt-n-move-shaking 0.25s infinite;
}

.IconoPelicula {
  width: 1.2rem;
  height: 1.2rem;
}

.GoToTop {
  position: fixed;
  right: 1.25rem;
  bottom: 1.5rem;
}

.extrasSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 10px);
  padding: 0px 12vw;
  margin-top: 10rem;
  margin-bottom: 6rem;
}

.rowtitle {
  font-weight: 700;
}

/* Classes */

.redBTN,
.redBTN2 {
  background-color: var(--RojoApagado);
  text-decoration: none;
  font-weight: 700;
  color: white;
  border-radius: 5px;
}

.redBTN2 {
  padding: 16px 32px;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.blackBTN {
  padding: 0.4rem 1rem;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  background-color: var(--CasiNegro);
  font-weight: 700;
}

.redBTN:hover,
.blackBTN:hover {
  box-shadow: 0rem 0rem 0.5rem #852d3b;
  background-color: var(--RojoApagado);
}

.tituloXL,
.tituloprinc {
  text-align: center;
  margin-top: 0%;
  margin-bottom: 1rem;
}

.netLinks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.tituloXL {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  width: 53rem;
  height: 11rem;
}

.tituloprinc {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  width: 31rem;
}
.titulo {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.pelicula {
  position: relative;
}

.nombreInvisible {
  position: absolute;
  width: 200px;
  height: 300px;
  top: 0%;
  left: 0%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  transition: all 0.5s;
}
.peliculasFlex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  width: 80vw;
}

.peliculasSlider {
  display: grid;
  grid-template: repeat(1, auto) / repeat(1, auto);
  grid-auto-flow: column;
  gap: 2.5rem;
  overflow: auto;
  width: 80vw;
  padding-left: 40px;
  padding-bottom: 2.5rem;
}
.pIMG {
  height: 300px;
  width: 200px;
  border-radius: 10px;
  scale: 1;
  transition: all 0.5s;
}
.movieTitle {
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
  padding: 0px 10px;
}
.movieAclamadas {
  margin-bottom: 3.5rem;
}
.pelicula:hover .nombreInvisible {
  scale: 0.9;
  transition: all 0.5s;
  box-shadow: var(--RojoApagado) 0rem 0rem 2rem;
  opacity: 1;
}

.pelicula:hover .pIMG {
  scale: 0.9;
  transition: all 0.5s;
  opacity: 1;
}

.pIMGsmall {
  border-radius: 10px;
  height: 242.25px;
  width: 161.5px;
}

.movieInfo {
  align-self: start;
  margin-top: 10rem;
}
.movieHeading > h1 {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0px;
}
.movieOverview > h2, .trailerSubSection > h2 {
  font-size: 1.5rem;
  margin: 0px;
  color: white;
}

.credit >  h3{
  font-size: 1.17rem;
  margin: 0px;
}
.pIMGbig {
  border-radius: 20px;
  height: 450px;
  width: auto;
  align-self: start;
  justify-self: end;
  margin-right: 2.5rem;
  margin-top: 3rem;
}
.searchbar {
  background-color: white;
  border: 0px solid black;
  border-radius: 25px;
  color: #000000;
  font-size: 1.2rem;
  height: 50px;
  margin: 20px 0px;
  outline: none;
  padding: 0px 20px;
  width: 500px;
}
.searchBtn {
  height: 50px;
  margin: 20px 10px;
  padding: 0 20px;
  border-radius: 25px;
  background-color: var(--RojoApagado);

  font-weight: 700;
  color: white;
  font-size: 1.2rem;
  border: 2px solid white;

  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.nextBackButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.25rem;
  margin-top: 2rem;
}

.busqueda {
  padding-top: 9.5rem;
  padding-bottom: 9rem;
}

.AntSigBtn {
  border: 1px solid white;
  border-radius: 5px;
  padding: 1rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--RojoApagado);
  margin-top: 60px;
  margin-bottom: 60px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s;
}
.AntSigBtn:hover,
.redBTN2:hover {
  scale: 0.925;
  box-shadow: 0rem 0rem 0.5rem #b3b3b3;
  transition: 0.5s all;
}

.noEffectRedBtn,
.noEffectRedBtn:hover,
.noEffectRedBtn:active {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.2rem;
  background-color: var(--RojoApagado) !important;
  border: none;
}

.noEffectBlackBtn,
.noEffectBlackBtn:hover,
.noEffectBlackBtn:active {
  background-color: var(--CasiNegro) !important;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.budgetSubSection {
  display: flex;
  flex-direction: column;
  color: #fafafa;
  width: 26rem;
  flex-shrink: 0;
}

td {
  font-size: 1.2rem;
  padding: 10px 0px;
}

.svg {
  width: 40px;
  height: 40px;
}

ul {
  list-style-type: none;
  padding: 0px;
  gap: 20px;
}
table {
  width: 100%;
}
img:hover {
  cursor: pointer;
}
th {
  padding-left: 45%;
}

/*Filter that turns black SVGs white.*/
.WhiteSvgFilter {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
    hue-rotate(149deg) brightness(113%) contrast(96%);
}
/* TODO: Responsive support. use bootstrap for this */
/*Mobile responsive */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 768px) {
}

/*Animations*/

/*Source: https://unused-css.com/blog/css-shake-animation/*/
@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
