/* Fonts */

@font-face {
  font-family: Nunito;
  src: url(../media/fonts/NunitoLightRegular.woff2);
}

@font-face {
  font-family: NunitoItalic;
  src: url(../media/fonts/NunitoLightItalic.woff2);
}

/* Makes CSS variables for commonly used colors */
:root {
  --RojoApagado: #9f3647;
  --CasiNegro: #181419;
  --NegroGrisaceo: #2a2a2a;
  --Gris: #333333;
  --GrisClaro: #787878;
}

/*scrollbar*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--CasiNegro);
}

::-webkit-scrollbar-thumb {
  background: var(--RojoApagado);
}

/* Removes link decorations */
a:link,
a:visited {
  text-decoration: none;
}

body {
  background-color: var(--CasiNegro);
}
/* TODO: ARREGLAR HEADER SPACING */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--RojoApagado);
  color: white;
  height: 10vh;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
/* TODO: ARREGLAR FOOTER BTNS QUE NO SON IGUALES*/
footer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: var(--RojoApagado);
  height: 15vh;
  gap: 0.5rem;
}
hr {
  width: 80vw;
  border-style: none;
  border-top: 2px solid var(--RojoApagado);
  opacity: 1;
  margin-bottom: 0px;
  margin-top: 40px;
}
/* Tags */
/* TODO: fix title spacing */
.hero {
  display: flex;
  justify-content: center;
  color: white;
  background-image: url(../media/img/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: calc(100vw - 10px);
}
.fondoTransparente {
  background-color: #0000008f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: calc(100vw - 10px);
  height: 90vh;
}

.herocontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  padding: 1.6rem;
  font-weight: 700;
  gap: 0.3rem;
}

.IconoPelicula {
  width: 1.2rem;
  height: 1.2rem;
}

.headerButtonContainer {
  padding: 1.6rem;
}

.GoToTop {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.extra1 {
  grid-column: 3/4;
  grid-row: 4 / 5;
}

.extra2 {
  grid-column: 4/5;
  grid-row: 4 / 5;
}

/* Classes */

.redBTN,
.redBTN2 {
  background-color: var(--RojoApagado);
  text-decoration: none;
  font-weight: 700;
  color: white;
  border-radius: 5px;
}
.redBTN {
  padding: 0.5rem;
}

.redBTN2 {
  padding: 0.8rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.blackBTN {
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  background-color: var(--CasiNegro);
  font-weight: 700;
}

.redBTN:hover,
.blackBTN:hover {
  box-shadow: 0rem 0rem 0.5rem #852d3b;
  background-color: var(--RojoApagado);
}

.tituloXL,
.tituloprinc {
  text-align: center;
  margin-top: 0%;
  margin-bottom: 1rem;
}
.tituloXL {
  font-size: 4rem;
  width: 53rem;
}

.tituloprinc {
  font-size: 2.2rem;
  font-weight: 400;
  width: 31rem;
}
.titulo {
  font-size: 2.3rem;
  text-align: center;
  color: white;
}


/* TODO: Fix track autogeneration */
.peliculasGrid {
  display: grid;
  grid-template: repeat(4, min-content) / repeat(6, min-content);
  gap: 60px;
  width: 80vw;
  justify-content: center;
}

.peliculasSlider {
  display: grid;
  grid-template: repeat(1, auto) / repeat(1, auto);
  grid-auto-flow: column;
  gap: 2.5rem;
  overflow: auto;
  width: 80vw;
}
.pIMG {
  height: 300px;
  width: 200px;
  border-radius: 10px;
}

.pIMGsmall {
  border-radius: 10px;
  height: 242.25px;
  width: 161.5px;
}

.searchbar {
  background-color: white;
  border: 0px solid black;
  border-radius: 3rem;
  width: 25.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  height: 2.75rem;
  font-size: 1.1rem;
}
.searchBtn {
  background-color: var(--RojoApagado);
  border: 1px solid white;
  border-radius: 3rem;
  width: 5.8rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  height: 2.75rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
}

/* TODO: Fix searchbar heaight and make font sizing in the title a tad larger. Also try make padding more acc*/
.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 3rem;
}

.busqueda {
  padding-top: 9.5rem;
  padding-bottom: 11rem;
}

img:hover {
  cursor: pointer;
}

/* TODO: Responsive support. use bootstrap for this */
/*Mobile responsive */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 768px) {
}
